$primary: #000021;
$layered: #222230;

$light_primary: #fdfdff;

body {
    background-color: $primary;
    color: $light_primary;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

textarea {
    resize: none;
}

i.fas ~ span, i.fab ~ span {
    padding: 0 0.5em;
}

.input-group .btn-outline-secondary {
    color: $primary;

    :hover {
        color: $light_primary;
    }
}