doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Zendit

        //- Bootstrap 4.6
        link(rel="stylesheet", href="../css/bootstrap4.6.min.css")
        link(rel="stylesheet", href="../css/fa-all.min.css")

        //- Bootstrap 5
        //- link(rel="stylesheet", href="../css/bootstrap5.min.css")
        script(src="../libraries/ckeditor/ckeditor.js")
        link(rel="stylesheet", href="../css/index.css")
        
    body
        .container.mt-5
            form
            datalist#repositoryList
            datalist#branchList
            datalist#prReviewers
            datalist#jiraUsers
            .row
                .col-4
                    .form-group
                        label(for="selectRepository") Repository

                        .input-group
                            select#selectRepository.custom-select
                            .input-group-append
                                button#btnRefreshRepos.btn.btn-outline-secondary.btn-light
                                    i.fas.fa-sync-alt

                    .form-group
                        label(for="tbxSourceBranch") Base branch
                        input#tbxSourceBranch.form-control(type="text", name="source-branch" list="branchList")
                    .form-group
                        label(for="tbxHeadBranch") Head branch
                        input#tbxHeadBranch.form-control(type="text", name="head-branch" list="branchList")
                    .form-group
                        label(for="reviewer") PR reviewer
                        input#reviewer.form-control(type="text", name="reviewer" list="prReviewers")
                .col-8
                    .form-group
                        label(for="tbxPRTitle") Title
                        input#tbxPRTitle.form-control(type="text", name="pr-title")
                    .form-group
                        label(for="tbxPR") Pull request
                        textarea#tbxPR.form-control(name="pr-description", rows="12")

            .row
                .col-4
                    .form-group
                        label(for="jira-user") Assign ticket to
                        input#jira-user.form-control(type="text", name="jira-user" list="jiraUsers")
                .col-8
                    .form-group
                        label(for="tbxJiraComment") Jira comment
                        textarea#tbxJiraComment(name="tbxJiraComment", cols="30", rows="10")
                    .form-row
                        .col
                            button#btnSubmit.btn.btn-success.col-8(type="submit") 
                                i.fas.fa-rocket
                                span Zendit
                            
                        .col
                            .custom-control.custom-switch.mt-2
                                input#cbxPRCreated.custom-control-input(type="checkbox", name="cbxPRCreated" disabled)
                                label.custom-control-label(for="cbxPRCreated") PR created
                        .col
                            .custom-control.custom-switch.mt-2
                                input#cbxCommentCreated.custom-control-input(type="checkbox", name="cbxCommentCreated" disabled)
                                label.custom-control-label(for="cbxCommentCreated") Comment created


        script
            | CKEDITOR.replace('tbxJiraComment');
        
        script(src="../js/index.js")
        
        